.Hammer {
  width: 113%;
  aspect-ratio: 1/1.1;

  position: absolute;
  left: 45%;
  bottom: -50%;
  z-index: 2;
}

.Hammer img {
  width: 100%;
  object-fit: cover;
}

.PLAYING {
  animation: hammerReady var(--animation-duration, 800ms) ease-in-out forwards;
}

.WINDUP {
  animation: hammerWindup var(--animation-duration, 1.5s) ease-in forwards;
}

.RESOLVE {
  transform: translate(-28%, -12%) rotate(-50deg);
}

@keyframes hammerReady {
  0% {
    transform: translate(0, 0) rotate(0);
  }

  100% {
    transform: translate(5%, -20%) rotate(38deg);
  }
}

@keyframes hammerWindup {
  0% {
    transform: translate(5%, -20%) rotate(38deg);
  }

  25% {
    transform: translate(0, -25%) rotate(50deg);
  }

  50% {
    transform: translate(-10%, -22.2%) rotate(65deg);
  }

  75% {
    transform: translate(-28%, -12%) rotate(-60deg);
  }

  100% {
    transform: translate(-28%, -12%) rotate(-50deg);
  }
}
