.hit-button {
  width: 124px;
  height: 60px;

  background: url("/src/assets/images/button.png");
  background-size: cover;
}

.HIT {
  animation: buttonPress 250ms ease-in-out forwards 0.8s;
}

@keyframes buttonPress {
  0% {
    transform: rotate(0deg);
    background: url("/src/assets/images/button.png");
     background-size: cover;
  }

  25% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-1deg);
  }

  100% {
    transform: rotate(0deg);
    background: url("/src/assets/images/button_active.png");
     background-size: cover;
  }
}
