* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --game-width: 360px;
  --game-height: 640px;

  --custom-shadow: 0px 4px 4px 0px #00000040;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #d1d0cb 0%, #282828 100%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

#root {
  width: var(--game-width);
  height: var(--game-height);

  outline: #303030 solid 2px;
  overflow: hidden;
}
