.layout {
  width: 360px;
  height: 640px;
  margin: 0 auto;
  padding: 35px 10px 64px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: url('/src/assets/images/bg_top.png');
  background-size: cover;
}

.top {
  flex: 0 0 auto;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.middle {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  bottom: 38%;
}

.left {

}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.right {

}

.bottom {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
