.action-button {
  width: 100%;
  height: 36px;

  border-radius: 6px;

  cursor: pointer;

  box-shadow: var(--custom-shadow);
}

.default {
  background: #ff42f0;
  color: #fff;
  border: #fff solid 1px;
}

.hit {
  background: #ffdf35;
  color: #bb20a2;
  border: #bb20a2 solid 1px;
}
