.action-button {
  width: 100%;
  aspect-ratio: 4.7/1;

  border-radius: 6px;

  cursor: pointer;

  box-shadow: var(--custom-shadow);

  font-weight: 700;
  font-size: clamp(10px, 4vw, 14px);
}

.default {
  background: #ff42f0;
  color: #fff;
  border: #fff solid 1px;
}

.hit {
  background: #ffdf35;
  color: #bb20a2;
  border: #bb20a2 solid 1px;
}
